@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto&display=swap');
*{
    margin:0;padding:0;list-style: none;box-sizing: border-box;font-style: normal;
}
button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
}
body, table, div, p, em{ 
    font-family: 'Roboto', 'Noto Sans', 'Sans-serif'; 
}
#wrap{
    overflow: hidden;
    padding: 1rem 0 0 0;
}
.clock h1{
    text-align: center;
    padding: 1rem 1rem .3rem;
    font: 700 1rem 'Noto Sans';
    color:#333;
}
.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.greetings{
    text-align: center;
    font: 700 2rem 'Noto Sans';
    color:#333;
}
.diaryList{
    margin:3rem 0 3rem 0;
}
.diaryList li{
    position: relative;
    left:50%;
    padding:1rem .5rem;
    border-bottom: 1px solid #E4E4E4;
    opacity: 0;
    transition: all 0.5s;
}
.diaryList li.add{
    opacity: 1;
    left:0;
}
.diaryList li span{
    width: 85%;
    color: #252F4A;
    font: 600 .9rem 'Noto Sans';
    display: block;
    white-space: normal;
    word-break: break-word;
}
.diaryList li em{
    display: inline-block;
    padding:2rem 1rem 0 0;
    color:#949494;
    font: 400 .8rem 'Noto Sans';
}
.diaryList li button.list-btn{
    position: absolute;
    top: 50%;
    margin-top: -1.2rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    line-height: 0rem;
}
.diaryList li button.subTxt_add{
    font: 400 .8rem 'Noto Sans';
}
.diaryForm{
    position: fixed;
    bottom: 0;
    width: 100%;
    /*position: relative;
    margin:5rem 0 0 0;*/
    box-sizing: border-box; 
}

input{
    width:100%;
    box-sizing: border-box;
    padding: 1rem;
    font: 600 .9rem 'Noto Sans';
    color:#555;

}

.diaryForm input{
    width: 85%;
    border:0;
    background: #F2F2F2;
    word-break: break-word;
}
.diaryForm button{
    position: absolute;
    right: 0;
    top:0;
    width:15%;
    height: 100%;
    background: #5785E3;
}

/* popup */
.modal-popup{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
    
}
.modal-popup.open .content{
    top:50%;
    opacity: 1;
}
.modal-popup .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.modal-popup .content{
    position: absolute;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding:2rem;
    width:60%;
    opacity: 0;
    transition: all 0.3s;
}
.modal-popup .content button{
    display: block;
}

.modal-popup .content div{
    margin-bottom: 1rem;
    font: 600 .9rem 'Noto Sans';
}
.modal-popup .content div:last-child{
    margin:0;
}
.modal-popup .content input{
    border:1px solid #ddd;
    word-break: break-word;
}
.diarySubTxt{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: none;
}
.diarySubTxt.on{
    display: block;
}
.diarySubTxt::after{
    content: '';
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    
}
.diarySubTxt .diarySubTxtForm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.diarySubTxt .diarySubTxtList{
    box-sizing: border-box;
    padding: 2rem 2rem 1rem;
    position: absolute;
    width: 100%;
    bottom: 55px;
    height: 40%;
    left: 0;
    z-index: 1;
    background: #fff;
    overflow-y: scroll;
}
.diarySubTxt .diarySubTxtList li{
    padding-bottom: 1rem;
}
.diarySubTxt .diarySubTxtList li span{
    color: #252F4A;
    font: 600 .9rem 'Noto Sans';
    display: block;
    white-space: normal;
    word-break: break-word;
}